
* {
  box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS';
    background-color: #fffbed
  }

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: teal;
  }

.header h1 {
    font-size: 64px;
    display: inline-block;
    color: ivory;
}

.header div {
    margin-top: 80px;
    margin-right: 10px;
    float: right;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
    font-weight: bolder;
}

.header div ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
  }
  
nav a {
    color: rgb(255, 166, 0);
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
  }

h4 {
  color: rgb(255, 166, 0);
  font-size: 30px;
}

nav a:hover {
    color: #fff;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 50px;
}

h2 {
    color: teal;
    font-size: 35px;
    text-align: left;
}
  
#img-me {
  height: 150px;
  width: 150px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* flexbox */

div {
  margin: auto;
}
  
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: 3px solid;
  border-left-color: rgb(255, 166, 0);
  margin-left: 10px;
}

.card {
  flex: 1 0 0;
  border-style: solid;
  display: inline-block;
  text-align: center;
  background-color: lightblue;
  border-color: teal;
  border-width: 3px;
  border-radius: 5px;
  margin: 75px;
  box-shadow: 5px 5px 3px rgb(85, 136, 136);
}

.card img {
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 250px;
}

.card img:hover {
  opacity: .6;
}

.card header {
  background: teal;
  color:rgb(255, 166, 0);
  font-size: 35px;
}

.contact-me {
  color: teal;
  font-size: 30px;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .column {
    flex-basis: 100%;
  }
}